body {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    padding: calc(var(--space-xl) + 8px) var(--space-lg) var(--space-lg);
    gap: var(--space-sm);
}
.sidebar {
    position: relative;
        overflow: auto;
    border-radius: var(--radius-md);
    padding: var(--space-sm);
    background: var(--surface-primary);
}
.entry-list {
    margin-top: var(--space-md);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-primary);
    border-radius: var(--space-md);
}
.entry-list-item:first-child {
    border-bottom: 1px solid var(--border-primary);
border-radius: var(--space-md) var(--space-md) 0 0;
}
.entry-list-item:last-child {
    border-top: 1px solid var(--border-primary);
border-radius: 0 0 var(--space-md) var(--space-md);
}
.entry-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
        border: 1px solid var(--border-primary);
    padding: var(--space-sm) var(--space-md);
    background: var(--surface-secondary);
}
 .entry-list-item:hover {
        border-color: var(--border-secondary);
    cursor: pointer;
    background: var(--hover-bg);
 }
 .entry-list-item p {
    margin: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
.btn.delete-btn {
    background: var(--danger);
padding: var(--space-sm);
}
.new-entry {
    width: fit-content;
}
.main-content {
    position: relative;
    padding: var(--space-md);
    overflow: auto;
    background: var(--surface-secondary);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}
.main-content-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--space-md);
}
.main-content-header-inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 100%;
    max-width: 600px;
}
.entry-type {
    max-width: 350px;
}
.content-container {
    height: 100%;
}
.content-input {
    resize: none;
    height: 100%;
}